<!DOCTYPE html>
<html>
    <head>
        <title>Stock Price Prediction</title>
        <link rel="icon" href="../static/assets/icon.png" type="image-icon">
        <meta charset="UTF-8">
        <meta name="description" content="Main system page">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/index.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    </head>
    <body>

        <div class="side-nav">
            <div class="close-container">
                <div  id="ham" class="ham-icon" onclick="closeMenu()">
                    <span class="hamburger" id="one"></span>
                    <span class="hamburger" id="two"></span>
                    <span class="hamburger" id="three"></span>
                </div>
            </div>
            <p id="menu_p" class="side-nav_p">What stock would you like to see?</p>
            <div class="drop-down-container" id="drop_down">
                <div class="drop-down" onclick="toggleDropDown()"><p>{{ code }}</p><i class="material-icons">arrow_drop_down</i></div>
                <div class="drop-down-option" id="option">
                    <ul>
                        {%for i in range(0,len)%}
                        <li><a href="/?stock_code={{ dict[i] }}&interval={{ interval }}">{{ dict[i] }}</a></li>
                        {%endfor%}
                    </ul>
                </div>
            </div>

            <p id="menu_p2" class="side-nav_p" style="margin-top: 10px;">Select number of intervals.</p>
            <div class="drop-down-container" id="drop_down2">
                <div class="drop-down" onclick="toggleDropDown2()"><p>{{ interval }}</p><i class="material-icons">arrow_drop_down</i></div>
                <div class="drop-down-option" id="option2">
                    <ul>
                        {%for i in range(0,ilen)%}
                        <li><a href="/?stock_code={{ code }}&interval={{ iDict[i] }}">{{ iDict[i] }}</a></li>
                        {%endfor%}
                    </ul>
                </div>
            </div>

           <div class="table-box" id="table_box">
            <p>Current stock price</p>
            <table class="table">
                <tr>
                    <td style="font-weight: 600;">Time</td>
                    <td style="font-weight: 600;">Close Price</td>
                </tr>

                {%for i in range(data_len-interval-5,data_len-interval,1)%}
                <tr>
                    <td>{{ valueVal[i] }}</td>
                    <td>{{ dataVal[i] }}</td>
                </tr>
                {%endfor%}
            </table>
           </div>

           <div class="dash" id="dash"></div>

           <div class="table-box" id="table_box4">
            <p><strong>1 Interval = 5 minute</strong></p>
            <p>Stocks after {{ interval }} interval ahead </p>
            <table class="table">
                <tr>
                    <td style="font-weight: 600;">Intervals</td>
                    <td style="font-weight: 600;">Close Price</td>
                </tr>

                {%for i in range(0,pricelen)%}
                <tr>
                    <td>{{ i+1 }}</td>
                    <td>{{ predict[i] }}</td>
                </tr>
                {%endfor%}
            </table>
           </div>
           <button id="btn" class="btn" onclick="toggleChart()">Show prediction Chart</button>
        </div>
        <div class="main-container">
            <div class="nav-bar"><i id="dark" class="material-icons" onclick="toggleDark()">brightness_2</i></div>
            <div class="inner-main">
                <div class="ele-holder">
                    <h1>Stock Predicting App</h1>
                 <p class="main-container-p">Predicting Stock Price with Historical Data From 2015-2020</p>
                <div>
                  <p><strong>Stock Code:</strong> {{ code }}</p>
                  <p><strong>Name:</strong> {{ name }}</p>
                </div> 

                <div class="c-box"> 
                    <canvas id="myChart" class="img myChart"></canvas>
                    <div>
                        <canvas id="predict" class="img predict"></canvas>
                    </div>
                </div>

                

                
               
                   
                <script>
                    var xValues = {{valueVal | safe}};
                    var yValues = {{dataVal | safe}};

                    new Chart("myChart", {
                    type: "line",
                    data: {
                       labels: xValues,
                       datasets: [{
                       fill: false,
                       lineTension: 0,
                       //backgroundColor: "rgba(0,0,255,1.0)",
                        dataBoredColor:this.yValues.map((item, index) => {
                        return index >= this.yValues.length - {{pricelen | safe}} ? 'rgb(34,182,0)' : "rgba(0,0,255,1.0)"
                        }),
                        backgroundColor: this.yValues.map((item, index) => {
                        return index >= this.yValues.length - {{pricelen | safe}}  ? 'rgb(34,182,0)' : "rgba(0,0,255,1.0)"
                        }),
                     
                       borderColor: this.yValues.map((item, index) => {
                        return index >= this.yValues.length - {{pricelen | safe}} ? 'rgba(34,182,0,0.4)' : "rgba(0,0,255,0.4)"
                        }),

                        fillColor: this.yValues.map((item, index) => {
                        return index >= this.yValues.length - {{pricelen | safe}} ? 'rgba(34,182,0,0.4)' : "rgba(0,0,255,0.4)"
                        }),
                       data: yValues,
                     }]
                    },
                    options: {
                    legend: {display: false},
                    scales: {
                        yAxes: [{
                            scaleLabel: {
                            display: true,
                            labelString: 'Close Price'
                            }
                        }],

                        xAxes: [{
                            scaleLabel: {
                            display: true,
                            labelString: 'Time'
                            }
                        }],
                     }
                     }
                    });
                    </script>
           
                   
                    <script>
                        var xValues = {{inter | safe}};
                        var yValues = {{predict | safe}};

                        new Chart("predict", {
                        type: "line",
                        data: {
                        labels: xValues,
                        datasets: [{
                        fill: false,
                        lineTension: 0,
                        //backgroundColor: "rgba(0,0,255,1.0)",
                            dataBoredColor:this.yValues.map((item, index) => {
                            return index >= this.yValues.length - {{pricelen | safe}} ? 'rgb(34,182,0)' : "rgba(0,0,255,1.0)"
                            }),
                            backgroundColor: this.yValues.map((item, index) => {
                            return index >= this.yValues.length - {{pricelen | safe}}  ? 'rgb(34,182,0)' : "rgba(0,0,255,1.0)"
                            }),
                        
                        borderColor: this.yValues.map((item, index) => {
                            return index >= this.yValues.length - {{pricelen | safe}} ? 'rgba(34,182,0,0.4)' : "rgba(0,0,255,0.4)"
                            }),

                            fillColor: this.yValues.map((item, index) => {
                            return index >= this.yValues.length - {{pricelen | safe}} ? 'rgba(34,182,0,0.4)' : "rgba(0,0,255,0.4)"
                            }),
                        data: yValues
                        }]
                        },
                        options: {
                        legend: {display: false},
                        scales: {
                            
                            yAxes: [{
                            scaleLabel: {
                            display: true,
                            labelString: 'Close Price'
                            }
                        }],

                        xAxes: [{
                            scaleLabel: {
                            display: true,
                            labelString: 'Intervals'
                            }
                        }],
                        }
                        }
                        });
                        </script>
               </div>
                </div>
            </div>
        </div>

        <script src="../static/javascript/index.js"></script>
        
    </body>
</html>
            